[2017-01-17 11:21] peterprokop opened #8 "iOS support"
subj

[2017-01-17 14:11] StanBoyet opened #9 "Namespace-based UI"
Hi,

We use a Rails app and we have been for a long time for a tool like the one you built 😃
We use a YAML file to manage this, the classic Rails' Way ©

One thing that's missing on our part is the ability to filter/organize the strings into their namespace. We have ~2k keys so having them all is not manageable for us.

Here a quick example of a our issue in the strings index, but the same thing a

[2017-01-17 15:29] anthonynsimon commented on #9
Thanks for the suggestion. Definitely makes sense to have some sort of visual grouping for the project's strings. Unfortunately, not everyone uses a convention for naming their strings, so Parrot makes no assumptions about the format of the strings, but we can still try a few things:

The idea that you suggest of a collapsible list based on each sub-string sounds good to me. The only issue with it

[2017-01-17 15:31] anthonynsimon commented on #8
In terms of iOS support, do you mean the ability to export an iOS supported format or an iOS client library to wrap the Parrot API? or both? :)

[2017-01-17 15:32] PatrickWatzlawik commented on #9
I think the main issue is the resulting translation.json. It is not **that** important to have a visual grouping but a json-grouping.

So the .json looks so:
`"foo": {
    "bar": "baz"
}`

and not this way:
`"foo.bar": "baz"`

I really hope I'm not mistaken here, but I thought to get into that inconvenient issue last weekend.

[2017-01-17 15:38] peterprokop commented on #8
`iOS client library` something similar to what [Applanga](https://applanga.com/) does. In theory I can help you with that =)

[2017-01-17 15:47] Artoria2e5 opened #10 "Feature Request: Automated validation with e.g. pofilter"

[2017-01-17 16:13] anthonynsimon commented on #8
That'd be a great addition to the project. At some point it'd be great to have platform specific libraries. So if you want to work on the iOS client that'd be great. Any kind of contribution to the project is more than welcome.

[2017-01-17 16:16] anthonynsimon commented on #9
Gotcha, so just to be sure basically what we need is a YAML export option (with the nesting of the sub-strings)? For example:

In Parrot:
[code]
If exported as YAML should produce:
[code]

I guess it would be safe to expect such a naming convention on the strings when exporting as YAML.

[2017-01-17 16:20] anthonynsimon commented on #9
For other formats, this can be implemented too. What could work in order to not constrain the naming convention to a specific style, is an option to "split-n-nest" based on a character. Yay or nay? :)

[2017-01-17 16:22] PatrickWatzlawik commented on #9
Looks fine :) I'm not really sure what you meant with "split-n-nest".. In terms if UI, I thought of a checkbox if the exported file should contain nested values or not

[2017-01-17 18:05] PatrickWatzlawik opened #11 "Make service ports adjustable"
Hey there,

I think its a bit inconvenient that you could not specify a port for eg. the postgres server. We're running a native PostgreSQL here too, so the start.sh script failed, because the port 0.0.0.0:5432 is already in use.

Is it possible to add a command flag to the docker-compose script?

[2017-01-17 18:56] anthonynsimon commented on #11
I just referenced a pull request, check out the branch 'add-db-port-args' and let me know if it works properly.

Flag is '-dbp' or '--db-port' followed by the desired DB port on the host.

For example to set to port '1234':
[code]

[2017-01-17 19:02] anthonynsimon commented on #10
Hi there, could you please describe a bit the feature request?

[2017-01-17 20:02] Artoria2e5 commented on #10
Hmm... Filters provided by [pofilter](http://docs.translatehouse.org/projects/translate-toolkit/en/latest/guides/using_pofilter.html) can be used for checking language-dependent source-translation pairs.

(You don't have to use pofilter; Weblate, for example, found it unmaintained and too buggy so they made their own: https://github.com/WeblateOrg/weblate/issues/1252#issuecomment-253529057)

[2017-01-17 20:39] anthonynsimon commented on #10
Ah ok, so would the main purpose be to check for malformed files on export?

[2017-01-17 21:10] anthonynsimon opened #13 "Fix export multiline and escaping"

[2017-01-17 22:13] anthonynsimon opened #16 "Add support for importing existing locale data"

[2017-01-17 22:14] anthonynsimon opened #17 "Switch to Caddy as reverse proxy for auto HTTPS?"

[2017-01-17 22:15] anthonynsimon commented on #9
I added support for yaml export with nested strings.
Sample output:
[code]
I will keep the issue open for now as the UI namespaces collapsing mentioned by StanBoyet is still a valid point.

[2017-01-18 00:46] Artoria2e5 commented on #10
Not quite for the files, but for strings themselves.

[2017-01-18 06:56] StanBoyet commented on #9
Wow this is already super neat ! Thanks a lot !
Let me know if we can be of any help.

[2017-01-18 07:58] StanBoyet commented on #9
Small issue on the web app, there is no YAML export option available (just pulled the code, restarted the server)

<img width="257" alt="screenshot 2017-01-18 08 56 42" src="https://cloud.githubusercontent.com/assets/1906401/22055602/38b06742-dd5c-11e6-88e8-9f92259b6516.png">

[2017-01-18 09:16] anthonynsimon commented on #9
Did you also rebuild the web app before restarting the servers?

[code]

I need to rename that script, that's not an obvious one :)

[2017-01-18 09:30] StanBoyet commented on #9
My bad, works great after rebuilding :)

Gonna look the notifications for news on your part for the UI then :)

[2017-01-18 13:51] PatrickWatzlawik commented on #11
Yeah! Nice. Thanks for the fast response :) In my opinion this issue can be closed. Just one minor thing, which is really just the sugar, what about dynamically looking for a free db port? Like 10-20 retries before giving up?

[2017-01-18 13:52] #11 closed

[2017-01-18 14:41] #17 closed

[2017-01-18 15:02] anthonynsimon commented on #11
Nice!

Sure, the dynamically looking for a free port can be implemented easily. What would work with the current setup is to simply select port `0` which will request a system-allocated port. You can then see the assigned port via `docker ps`. I just tried it here:

[code]

[2017-01-18 15:05] anthonynsimon opened #18 "Add export to XLIFF format"

[2017-01-18 15:05] PatrickWatzlawik commented on #11
Cheesus, that sounds nice :)

[2017-01-18 15:05] anthonynsimon opened #19 "Add project snapshots (current state backup)"

[2017-01-18 15:07] anthonynsimon opened #20 "Add tests when practical"
Unit tests would help collaborators work on the project and know when something breaks without manual testing.

[2017-01-18 15:08] anthonynsimon opened #21 "Add forgotten password functionality"

[2017-01-18 17:10] e-nouri opened #22 "Filter for the locals strings to translate"
The list of strings can be pretty big in some project, the idea is that I will add a small filter in the SPA locals components to filter out and sort the list.

[2017-01-18 19:34] anthonynsimon commented on #22
Yes, I agree. There is also a related issue #9 in which we talked about possible solutions. Maybe we can brainstorm what could be the best way to approach this.

[2017-01-19 16:55] e-nouri opened #24 "auth endpoint "/api/v1/auth/token" not working"
I deployed the app on google compute engine with certificate from letsencrypt, the web-app is wokring great so far, but when i tried to auth through "/api/v1/auth/token", I have no response, i tried both methods: password and client_credentials but the app seems crashing while hitting this end point.

check the latency on each endpoint:

I did not investigate yet, if you have ideas what can cause

[2017-01-19 17:01] e-nouri commented on #22
yes definitely, how do you collect ideas or chat ?!

[2017-01-20 10:13] e-nouri commented on #24
Never mind, I was using postman, for some reason letsencrypt certificate was not validated, so i turned off the ssl validation and it worked.

[2017-01-20 10:41] e-nouri opened #25 "projects made using the web app (grant_type password) are not accessible from the API"
Is there a way to change this. I mean to be able to edit the projects made using the a real user account by another client account (API, grant_type client_credentials).

[2017-01-20 15:44] anthonynsimon commented on #24
Nice! To be sure before I close the issue, it was completely unrelated to Parrot?

It's cool to see people deploy it on different platforms. Was getting the server up and running on Google Cloud easy?

[2017-01-20 15:54] anthonynsimon commented on #25
Yes, at the moment the client_credentials can only access the 'export' endpoints for the project assigned to it. But this will be addressed soon.

The original use case is, for example, if you have a mobile game that you want to update the localization files on start, the mobile game would connect to the API with the `client_credentials` grant type and get the data, without worrying that somebody

[2017-01-20 15:55] anthonynsimon commented on #22
It could be here so that other contributors can see everything easily :)

[2017-01-26 20:40] #24 closed

[2017-01-26 21:37] iilei opened #26 "buildweb.sh - npm warnings and failure"
Hi,

Testing the install locally, I came across a bunch of NPM warnings;

[code]

and despite emitting a bunch of files, it exits with code 1, so the dist files won`t get copied over to nginx public folder.

Remarkable Line of Error output (amongst a bunch of errors of the same kind):

[code]

*ng -v*
angular-cli: 1.0.0-beta.20-4
node: 6.9.0

I tried to solve the peer dependency issues by hand wit

[2017-01-26 22:17] anthonynsimon commented on #26
Hey!

I was taking a look, I also get the npm peer/dependency warnings.

It seems to be a known issue of angular-cli: [install of angular-cli results in unmeet peer dependencies. Installing a peer does not resolve #1941](https://github.com/angular/angular-cli/issues/1941)

Also here [angular 2.1.0 release causes missing peer dependencies #2692](https://github.com/angular/angular-cli/issues/2692)

[2017-01-27 04:27] iilei commented on #26
Thank you 😃
Yes, running as root works. However, running it as non-root as with PR #23 is what I consider a preliminary step before I am going to work on my own fork and hopefully be able to make my own contributions via PRs, too 😉

[2017-01-28 09:54] gedw99 opened #27 "importers needed ?"
nice project. i was about to work on something very similar.

i started to write some importers that can scrape html, svg and golang code to find text for translation, and so can contribute these.

is this something useful ?

[2017-01-28 09:59] gedw99 opened #28 "easier dependencies"
It will be very easy to change the db to QL or BoltDB.
It will make the code and deployment, management much simpler i feel.
QL is a SQL db.
BoltDB is a Key value store db.

Both are 100% golang based databases.

QL
https://godoc.org/github.com/cznic/ql
- an ORM for QL: https://github.com/gernest/ngorm

BoltDB
https://github.com/boltdb/bolt
- an ORM for BoltDB: https://github.com/asdine/storm

is

[2017-01-28 14:58] anthonynsimon commented on #27
Hey, yes this would be definitely something useful. Feel free to work on it if you want :)

Right now it is only possible to enter data via the API or manually via the web app (UI). It would be great to have a feature to import key-value data from various formats. Just as the exporter does (yaml, json, excel, java properties, etc...).

At the moment the only question that comes to mind is, if you

[2017-01-28 15:05] anthonynsimon commented on #28
Definitely! The DB layer has been already abstracted in a way so that any database, as long as it implements the "datastore.Store" interface, it should work.

The only thing is that at the moment there are no automated tests for the datastore package, something which should also be solved sometime in the near future, so at the moment it will require some manual testing.

Again, feel free to work o

[2017-01-29 12:30] gedw99 commented on #28
Great news. I will be making some PR's

On Sat, 28 Jan 2017, 17:05 Anthony N. Simon, <notifications@github.com>
wrote:

[2017-01-29 12:35] gedw99 commented on #27
I also was thinking about the same thing.

I feel a CLI or GUI should let the developer know and decide.
Think of it like the ' git statue's command.

When you do a scan it will check what new keys have been imported from your
source code, and tell you.
It can then create the keys for you in your other translation files.

I know this is an over simplification but the general idea if to always
have

[2017-02-01 15:57] iilei commented on #26
This Issue would be resolved once #29 is merged :neckbeard:

[2017-02-01 16:28] anthonynsimon commented on #26
Just tried it out, that's awesome!

[2017-02-01 16:29] #26 closed

[2017-02-01 16:30] anthonynsimon commented on #28
Cool, just open them once you've got some progress.

[2017-02-01 16:30] #28 closed

[2017-02-01 16:32] anthonynsimon commented on #27
Yes you are right, it makes sense to have a screen or some info for previewing what's gonna happen before 'committing' the action.

[2017-02-01 22:02] iilei commented on #27
I'd appreciate it very much.

For the conflict-resolving I think it is fine if the API does simply not alter existing translations by default and you can pass params to enforce a different behaviour (e.g `update_translations`)

IMHO That would keep concerns separated nicely and be convenient and verbose enough 🙂

[2017-02-02 01:19] gsantner opened #30 "Feature Request: Project & User Icons"
Would be great if users could set custom avatars/icons for own user, and a project icon (if project owner)

[2017-02-02 01:25] gsantner commented on #27
Here's an example how [Crowdin](https://crowdin.com/) did such an integration.

![grafik](https://cloud.githubusercontent.com/assets/6735650/22533470/aaa06364-e8ee-11e6-8a71-4a68e18e1dc6.png)

[2017-02-02 01:29] gsantner opened #31 "Feature request: project language"
Option to set/change/clear the default project language.
So if the project language is e.g. set to English, and a string `Cherry` gets added, this automatically also gets added to English as completed translation. Updates on original strings should update those in the project language aswell.

[2017-02-02 09:47] Nick-Triller opened #32 "Default login credentials"
What are the default login credentials?

Thanks in advance!

[2017-02-02 09:53] anthonynsimon commented on #32
Hi! What login credentials are you referring to? The web-app comes without any default account/data, you just create one by registering on the landing page (or going directly to it: `https://localhost/register`). Let me know if that's what you meant :)

[2017-02-02 12:34] Nick-Triller commented on #32
Thank you for the swift response! Yes, I was referring to web-app login credentials.

Registering resulted in the following error message on the register page: "Something went wrong. That's all we know." I wrongly assumed the reason was that sending a registration confirmation email failed because I don't have a SMTP server on the server parrot runs on.

The reason the registration failed is that

[2017-02-02 12:38] Nick-Triller commented on #32
Being able to configure the backend address when building the frontend would make sense. Excuse my ignorance if this is already possible, I haven't looked at the code yet.

[2017-02-02 15:16] anthonynsimon commented on #32
Hey, yes you are correct, this last part was not implemented.

I just implemented basic functionality for this, as well as some usage info. I just realized that this wasn't there yet, and there was no docs for it, so thanks for pointing it out :)

Anyways, now you can print some usage info by turning the `-h` or `--help` flag on any of the two setup scripts:

[code]

So to set the API address when

[2017-02-02 15:53] Nick-Triller commented on #32
The `--help` and `--api-address` options work as advertised. Great!

I am studying golang at the moment. I will make sure to contribute once I am comfortable with the language :)

[2017-02-02 15:53] #32 closed

[2017-02-02 16:23] anthonynsimon commented on #32
Sure, any kind of contribution is more than welcome!

[2017-02-02 16:26] Nick-Triller opened #33 "Export nested json"
I propose an exporter which exports nested json. The delimiter could be configurable.

## Example

Delimiter = "."

### Strings
[code]

### Expected export result
[code]

[2017-02-02 16:50] Nick-Triller opened #34 "Display translation progress + export button on locales overview page"
Display translation progress + export button for each locale on locales overview page.

[2017-02-02 16:54] Nick-Triller opened #35 "Implement "export all" button on locales overview page"
The locales could be exported as a zip file.

[2017-02-02 17:08] Nick-Triller opened #36 "Internationalize the web app"
The web app itself could be internationalized.

[2017-02-02 17:33] Nick-Triller opened #37 "Openening a locale in internet explorer 11 causes a JS error"
Tested in IE 11.0.9600.18449, update version 11.0.35 (KB3185319). The site is unusable after the error is thrown.

[code]

[2017-02-15 20:35] tboerger opened #38 "Do not enforce SSL"
Please provide HTTPS only optionally, most container-based scenarios are doing SSL termination on an reverse proxy and continue with HTTP to the application. Beside that I personally don't generate any certificates on my own anymore, everything is handled by Let's Encrypt.

Maybe it's also an option to integrate Let's Encrypt for the other cases natively, I have already done that for other project

[2017-02-15 20:36] tboerger opened #39 "Provide support for SQLite3 or MySQL"
The title says enough, please provide other databases, I personally use only MySQL/MariaDB

[2017-02-15 20:39] tboerger opened #40 "Provide an INI exporter"
I wish to have an INI exporter, something that is useable with a middleware like https://github.com/go-macaron/i18n. An example can be found at https://github.com/go-gitea/gitea/blob/master/options/locale/locale_en-US.ini

This is a feature I will try to provide.

[2017-02-15 20:40] tboerger opened #41 "Suggestion: Embed the migrations"
I want to suggest to embedd the migrations, with tools like go-bindata or something similar it's quite easy to avoid the need of deploying additional files with the single binary.

[2017-02-16 11:20] anthonynsimon commented on #38
Thanks for the suggestion, makes sense, an option to serve over HTTP instead of HTTPS can be added.

There has been some discussion regarding the SSL termination once it reaches the reverse proxy, apparently there was some attack at Google that exploited exactly that for some servers. Since the auth tokens rely on the assumption that the connection is encrypted from the browser to the API server,

[2017-02-16 11:22] anthonynsimon commented on #41
Makes sense, will take a look into it :)

[2017-02-16 12:03] anthonynsimon commented on #39
I started work on this, it might require a bit of additional work because the translations data is stored in Postgres using the hstore functionality, which is as far as I understand not supported by MySQL.

Nonetheless, I am evaluating at the moment the move towards storing the data in a relational manner instead of using the hstore, which would make providing support for MySQL a lot easier IMO.

[2017-02-27 09:46] StanBoyet opened #42 "net::ERR_INSECURE_RESPONSE on Register"
Hi,

On development, after saying to Chrome that yes, I trust this untrusful website (don't have certificates), I can't register because of this error:

![screen shot 2017-02-27 at 10 41 33](https://cloud.githubusercontent.com/assets/1906401/23356401/f0040182-fcd9-11e6-829c-2c94c2a740e0.png)

I guess it's related to the fact that I don't truly have an HTTPS connection set up. How could I bypass th

[2017-03-04 18:07] vijayphani opened #43 "UNMET PEER DEPENDENCY"
Latest node and latest npm..
node --version
v7.7.1
npm --version
4.4.0

why is this an issue?

 npm install --save @angular/material
Angular2Spa@0.0.0 C:\tfs\Labs\Main\Temp\Src\AngularMaterial\AngularMaterial
+-- UNMET PEER DEPENDENCY @angular/common@2.0.0
+-- UNMET PEER DEPENDENCY @angular/core@2.0.0
+-- UNMET PEER DEPENDENCY @angular/http@2.0.0
`-- @angular/material@2.0.0-beta.2

which version o

[2017-03-09 15:28] csbenz commented on #32
I'm still getting "Something went wrong. That's all we know." Message and no output in the log on the server side. I'm using Ubuntu 16.04 on Digital Ocean and tried setting './scripts/buildweb.sh -api https://192.168.0.1/v1/api' to my IP.
Do you know what I'm doing wrong?

[2017-03-09 15:56] anthonynsimon commented on #32
Hi @csbenz , the `-api` flag expects only the host (and port) at which the API server is listening to, not the entire path. So for example, if your API server is listening over HTTPS at `https://localhost`, you should use:

[code]

You can test that the API server is already up and running by sending a GET request to `https://localhost/api/v1/ping`, assuming that the server's host address is `http

[2017-03-09 16:40] anthonynsimon commented on #42
Hi! At the moment we haven't implemented support for non-HTTPS connections since the authentication tokens rely on such a connection. But the option to serve over regular HTTP will come at some point.

But even so, currently the API server takes care of generating self-signed certificates for development and testing purposes, so it should work out of the box. Are you running everything via Docker

[2017-03-09 17:22] anthonynsimon commented on #37
I just migrated angular to the latest version, this was a known issue with some versions of angular. Maybe you could try out if now it's fixed when you have time?

[2017-03-09 19:44] csbenz commented on #32
HI @anthonynsimon, thanks for your help.
I changed to what you said, using `./scripts/buildweb.sh -api https://xx.xx.xx.xx` with my server's address. The ping test works, I see the message in the browser and on the server's log output. But when I try to register I get the same message "Something went wrong. That's all we know.".

[2017-03-09 21:03] anthonynsimon commented on #32
@csbenz could you check out the developer console in the browser when trying to register and see if you get any specific error there?

BTW, are you using the deployment script via docker or deployed on your own?

[2017-03-09 21:13] csbenz commented on #32
@anthonynsimon I hadn't thought about that. I'm getting th following error:
[code]

[2017-03-09 21:21] csbenz commented on #32
Sorry I was accessing from a wrong url, because I have two domain names pointing to the same IP. Please ignore the above error. My browser's console output is now:

[code]

[2017-03-09 21:22] anthonynsimon commented on #32
@csbenz oh ok it looks like CORS is not enabled, at the moment this is handled by NGINX which is the reverse proxy that docker launches and puts infront of the API server.

I'm not really sure what could be going on in there, I just tried it over here and it's working fine :/ Is the address that you are using when building the web app the API server itself or the reverse-proxy?

[2017-03-09 21:24] anthonynsimon commented on #32
@csbenz ok no worries.

I've never seen that last error before during development, could you check the json document being received on the developer tools from your browser? It looks like it might be receiving non-json data

[2017-03-09 21:27] anthonynsimon commented on #32
The error message says that the first token is `<`, which gives me the impression that the document received is somehow HTMl/XML. Possibly some Not Found page returned by the server?

[2017-03-09 21:36] csbenz commented on #32
@anthonynsimon Hmm I'm getting thw following response:
[code]

[2017-03-09 21:58] anthonynsimon commented on #32
@csbenz ok after digging a bit further, I think I got it. If you specify a custom URL when building the web app it should include the full API path, as in `./scripts/buildweb.sh -api https://localhost/api/v1`, I was mistaken about it, the script doesn't resolve the actual path by itself, sorry about that.

Let me know if that works.

[2017-03-09 22:06] csbenz commented on #32
@anthonynsimon Thanks!! It worked :) FYI in your first comment on this issue, you inverted `api/v1` with `v1/api`. Thank you for your time!

[2017-03-09 22:20] csbenz opened #44 "Android export should have the string id as key"
When you export  as Android ressource, the key of each string is the string to translate itself, while it should be the id of the string in the android project.
Example: export is like this:
[code]

When it should be something like:
[code]

But for this to be feasible, every string should have an id when created, which is not the case right now.

[2017-03-09 22:20] anthonynsimon commented on #32
Thanks for pointing that out! I'll fix it and double check the docs too.

[2017-03-10 08:56] #10 closed

[2017-03-10 08:57] #8 closed

[2017-03-10 08:57] #25 closed

[2017-03-10 09:07] anthonynsimon commented on #44
I'm not sure if I'm getting the issue. When I try to replicate your strings and translations I get the following export for Android:

[code]
Which is the output that you expect.

Here's the translations on the web app for reference:

![example](https://cloud.githubusercontent.com/assets/13251079/23788997/4a29e13e-0579-11e7-8522-a6adfa43c948.png)

[2017-03-10 11:18] #40 closed

[2017-03-10 20:28] csbenz commented on #44
@anthonynsimon That's the thing, shouldn't the original string (in the left column) be a word or phrase to translate? In your example it's a key and the translator has no idea what to translate.

[2017-03-10 20:31] Nick-Triller opened #46 "E-Mails with uppercase letters are rejected on signup"
/api/v1/users/register returns status code 422 (unprocessable entity) if the email contains uppercase letters.

[2017-03-10 20:38] Nick-Triller commented on #37
Unfortunately, the behaviour can be reproduced with the current code, too.

[code]

[2017-03-10 20:41] Nick-Triller opened #47 "Dropdown styling broken in internet explorer"
![grafik](https://cloud.githubusercontent.com/assets/6010357/23812283/28cf0e68-05da-11e7-8eeb-b2b1c63d9ec1.png)

[2017-03-10 20:55] Nick-Triller commented on #46
In my opinion, the backend should store lower(signup_email) in the database. When a user tries to login, the stored email should be compared to lower(login_email).

[code]

[2017-03-13 14:07] tqcenglish opened #48 "ping 404 response"
when `go build` on different directory ,  custom directory have a error
[code]
but in `src/github.com/anthonynsimon/parrot/parrot-api` is worked.

[2017-03-23 04:40] Starz0r opened #50 "Starting up Parrot for the first time tries to download a non-existent file."
I'm running Parrot on Linux Mint 18.1, all the Docker configurations seem to be working correctly, but starting up Parrot for the first time doesn't seem to work.

http://termbin.com/v5xr

In the terminal paste I linked, it seems that it's looking for a file on the Alpine Linux CDN and cannot find it, aborting the process soon after. I don't know exactly what the issue could be here, but from what

[2017-03-29 09:28] SlavikZ opened #52 "Build fails with Angular CLI 1.0.0"
`./scripts/buildweb.sh` script fails with latest Angular CLI 1.0.0 with lot of `Property 'xxx' is private and only accessible within class 'YYY'` errors. As far as I see it is related to https://github.com/angular/angular-cli/issues/5620 and now it is required to convert all accessed private properties to public.

Build info:
__ng --version:__
[code]

[2017-03-29 14:33] anthonynsimon commented on #50
This looks more like an issue with the Alpine Linux repo. Were you able to solve it in the end?

Here is a related issue: https://github.com/gliderlabs/docker-alpine/issues/155

[2017-03-29 14:33] #50 closed

[2017-03-29 14:34] #42 closed

[2017-03-29 14:36] anthonynsimon commented on #48
That's because the API which is written in Go, is located at the parrot-api directory. You should built on the right directory, `src/github.com/anthonynsimon/parrot/parrot-api`. Additionally, you might want to take a look at the build scripts that are included, for any additional build steps that you might require.

[2017-03-29 14:36] #48 closed

[2017-03-29 14:36] #43 closed

[2017-03-29 14:37] anthonynsimon commented on #44
That would be a usability issue, at the moment this is not supported. But it definitely makes sense at some point to add this. I'll keep the issue open for future reference.

[2017-03-29 14:40] #13 closed

[2017-03-29 14:40] #27 closed

[2017-03-29 14:41] anthonynsimon commented on #27
Unified issue at #16

[2017-04-07 19:22] iilei commented on #52
@SlavikZ does this fork work for you? https://github.com/iilei/parrot/tree/fix_build_angular_cli_v1x

[2017-04-07 20:58] iilei opened #53 "reverse proxy unreachable from host"
I am using Docker version 17.03.1-ce, build c6d412e on MacOS.

running ` ./scripts/start.sh` looks good, ends with logging:

[code]

but https://localhost/ can not be accessed.

I guess I am missing something?

[2017-04-08 08:55] iilei commented on #53
Unrelated to parrot, therefor closing this issue.

[2017-04-08 08:55] #53 closed

[2017-04-10 08:53] SlavikZ commented on #52
@iilei Yes, it works good, thank you!

[2017-04-10 09:49] anthonynsimon commented on #52
Closing this as the fix provided by @iilei ws just merged #54

[2017-04-10 09:49] #52 closed

[2017-04-10 10:15] anthonynsimon commented on #46
@Nick-Triller the referenced PR should solve this, thanks for reporting it.

[2017-04-10 11:13] anthonynsimon commented on #38
After considering the pros and cons of your proposal, we're removing the SSL enforcement on the API server, but leaving it on the provided reverse-proxy. This way deployment is now easier and more open to various configurations.

Nonetheless, it is still strongly recommended to deploy it with a secure reverse-proxy or equivalent solution in front of the API.

[2017-04-10 11:14] #38 closed

[2017-04-10 11:14] #46 closed

[2017-04-21 10:26] e-nouri opened #58 "Kubernetes Support"
I wanted to know if you are planning on supporting Kubernetes deployment ? Also if any one successfully deployed it to Kubernetes (as a service / deployment), persistent disk, letsencrypt, ect.

I would appreciate any feedback especially from people using it in production.

[2017-04-27 15:57] tqcenglish opened #59 "Display error"
![image](https://cloud.githubusercontent.com/assets/3167619/25510329/f67eb308-2bf1-11e7-805c-f76e386bb929.png)

Old bluma is work.  New version bluma(0.4.1) break.

[login.component.html](https://github.com/anthonynsimon/parrot/blob/master/web-app/src/app/auth/login/login.component.html)
[code]
use  `contianer` get screen width.

Add locals page has some errors.

[2017-04-27 16:08] tqcenglish opened #60 "ngModel need name attr error"
[edit-project-key.component.html](https://github.com/tqcenglish/parrot/blob/a8fba29603a1fc45a559c42b3b2a57fe0efcd1e7/web-app/src/app/projects/edit-project-key/edit-project-key.component.html)

[code]
should add `name="key"`

[2017-04-28 10:23] anthonynsimon commented on #59
#57 closes this

[2017-04-28 18:51] #60 closed

[2017-04-28 18:51] #59 closed

[2017-05-03 01:41] tqcenglish opened #61 "500 (Internal Server Error)"
When the default setting is exceeded, chrome console display error
[code]

Update the file(`nginx/parrot.conf`) default settings.
[code]

[2017-05-03 13:13] m1e commented on #16
Hello there!

I see this request have been closed,
Does this mean that right not there is no support for importing existing locale data (other than posting data to REST API)?

Thanks,
Cheers

[2017-05-03 20:14] anthonynsimon commented on #16
Hi, no it is still open and one of the main next features to tackle. The importers issue has simply been unified into this issue (#16) to not have multiple issues about the same topic.

[2017-05-03 20:15] anthonynsimon commented on #16
Right now the only way to add data is via the REST API as you said. But hopefully this would be one of the next things to change :)

[2017-05-04 07:58] m1e commented on #16
@anthonynsimon understood, thanks!

[2017-05-08 18:02] eduardoinnorway opened #62 "Docker issues"
Anyone having issues with "default" machine never ending loop of trying to run, then I suggest you install this version of Docker, https://download.docker.com/mac/stable/Docker.dmg all other suggestions of solving the issue with docker, failed.

[2017-05-19 19:26] iilei opened #63 "how to pull locales from api"
running the project locally I wonder how to access the api to export locales. I managed to create a project with two locales and everything, also the API key.
However I can't find informations on how to fetch locale data.

[2017-05-21 09:57] iilei commented on #63
OK I figured it out. First I needed to obtain a JWT to send along with a request to, for example

`https://localhost/api/v1/projects/<project_id>/locales/de_DE/export/keyvaluejson`

Now the question is if there is a possibility for users to authenticate API calls using a reusable token (enabling a build server to pull locales)?

[2017-05-21 10:02] #63 closed

[2017-05-30 08:36] m1e opened #64 "Deleting keys issue"
Hello there!

While testing a tool I faced the following bug:

1. Add a new key to a project
2. Delete this key
3. Try to perform export for some of the locales
4. Open a document with exported key/values, there you will find a key that you deleted on step 2.
On the other hands this key will be absent on keys page and on pages associated with locales

Thanks, Andrii

[2017-06-06 14:55] tqcenglish commented on #64
what is export type on step 3?

[2017-07-06 09:57] milanito commented on #16
If it can be of any use, we are using parrot in our internal projects (very nice what you did btw), and we had to have our `non-tech` people to do some imports, so I made [this](https://github.com/milanito/parrot-translate-cli).

It is very basic and only accept JSON (flat and i18next format) for the moment, but if it can help 😄

[2017-07-07 08:26] anthonynsimon commented on #16
@milanito that looks nice! Thanks for sharing it

[2017-07-17 09:06] Starz0r opened #66 "What causes Something Went Wrong occur?"
I'm looking to possibly contributing to the project by removing all the hardcoded Docker integration to make it a suggestion and not a recommendation. I built the API manually, but used the script to create the front-end. This is all without Docker. Since the API connects to the server I imagined nothing would go wrong at this point, but since the front-end is not internalized, it becomes a proble

[2017-07-18 23:03] nonameolsson opened #67 "Self-hosted or not?"
Hi!
This is a great tool! Well done!

I don't have so much experience of Docker, but I got it working on my local machine. But we are two people working on our current project, and we want to use Parrot for translation.

Should we both install it on our machines, and somehow share the database and connect to it from local installation? Or would it be better to host Parrot on a server somewhere?

I

[2017-07-25 17:06] tautf opened #68 "Error at build"
Hey,

i tried to install parrot on my rpi.

After installation of `@angular/cli` when i try to run `./scripts/buildweb.sh` im recieving the following error:

![unbenannt](https://user-images.githubusercontent.com/18403881/28584232-45124722-716c-11e7-81fd-a68f1c722d69.PNG)

Whats the problem here?

Thank you!

[2017-08-06 22:59] fedevegili commented on #68
Everything is working here (on master). Have you tried to update your node/npm version?

[2017-09-29 08:47] dragonwasrobot opened #71 "Email validation regex too restrictive"
The email validation regex in `parrot-api/model/validators.go`:
`^[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,4}$`
presumes that the top level domain is only 2-4 characters, `[a-z]{2,4}`. Perhaps just use 'one or more' characters.

[2017-11-03 08:13] abhi18av opened #72 "Request : Move to caddy"
Hi @anthonynsimon

I was wondering how long do you wish to rely upon `nginx` - wouldn't `caddy` - a native `go-lang` solution be more apt for the project ?

Awesome work on this btw! :+1:

[2017-11-03 09:46] anthonynsimon commented on #72
Hi Abhinav, thanks for the suggestion! There would be some advantages of
using caddy for this project, like super easy HTTPS. If you'd like to give
it a try, contributors are more than welcome to take part in the project :)

On Fri, 3 Nov 2017 at 09:13 Abhinav Sharma <notifications@github.com> wrote:

--

Anthony Najjar Simon
Backend Engineer

<http://www.stylight.com/>

T | +49 (0) 89 - 1222 895

[2017-11-03 10:23] abhi18av commented on #72
Noted :)

Feel free to close this "issue" though.

[2017-11-03 12:35] #72 closed

[2017-11-03 12:39] anthonynsimon commented on #68
Hi guys, I'll be closing the issue unless it hasn't been fixed yet. In which case feel free to reopen it with more details.

[2017-11-03 12:39] #68 closed

[2017-11-03 12:44] anthonynsimon commented on #67
Hi @nonameolsson , sorry for taking quite a while to reply.

That should be quite easy to achieve, the `docker-compose` file is pretty much a high level view on the systems involved (nginx, a postgres DB and the Parrot API itself). You could just setup your own DB and share the credentials by editing the `.env` file for parrot (see
 https://github.com/anthonynsimon/parrot/blob/master/parrot-api/.e

[2017-11-03 12:44] #67 closed

[2017-11-03 12:48] anthonynsimon commented on #66
Hi @Starz0r sorry for taking a while to reply!

One possibility could be that since you are using a migration strategy of `down`, you are wiping out the DB and the database has none of the tables needed by Parrot. You could try setting that up to `up` (add all tables) or `down, up` (remove existing and start clean). Here's an exmaple `.env`:

[code]

Hopefully it's of use, even though it's a few m

[2017-11-03 12:48] #66 closed

[2017-11-03 12:50] anthonynsimon commented on #62
Thanks for reporting that @eduardoinnorway ! I will be closing the issue for now, as it seems to not be affecting anymore :)

[2017-11-03 12:50] #62 closed

[2017-11-03 15:33] Starz0r commented on #66
@anthonynsimon I forgot I had opened this from long ago. Never thought you'd come back, so I never updated the Original Post, but if you are still around I'll post some details here.

The issue with logging in is that the front-end submits an OPTIONS header instead of POST when Registering or Logging In. I don't know if this is intended, but because of this, I could not get it to work.

I've also

[2017-11-03 16:05] anthonynsimon commented on #66
@Starz0r ok thanks for the details!

Regarding the initial `OPTIONS` request, I'm assuming it's the preflight request for cross-origin requests. But that shouldn't be causing an error. I can take a look at that to verify.

The docker integration is actually not really needed, you can start each component on it's own, that's where the `.env` file comes in handy for configuration in case your DB lie

[2017-11-20 10:57] dragonwasrobot opened #73 "Possible to update a single translation?"
In the API docs, https://anthonynsimon.gitbooks.io/parrot/content/locales.html, it states that the locale's pairs can be updated using
[code]
but the resource requires that you specify all pairs of a locale in the request body, as it 'resets' the translation of any keys not in the request body to have the empty string as value.

Is there any way to update a single translation pair without having t

[2017-11-21 04:00] federicokeen opened #74 "[Feature] Verification system"
When the value of a key changes on the source locale, the key should be marked as unverified on the other locales so that they are reviewed and updated or marked as verified.

[2017-11-21 04:02] federicokeen opened #75 "Allow adding screenshots / comments to keys to help translators"
Each key should be able to contain screenshots or a longer description that provides context for the translators

[2017-11-21 04:05] federicokeen opened #76 "Tagging"
Hability to tag a set of keys, which groups them.
Currently we automatically create tags for untranslated or unverified keys per locale that are sent to translators, and we check the status of those tags. Once he translated all of them we mark the task as done and close pay the translator.

[2017-11-21 04:06] federicokeen opened #77 "Key history"
Show the changes made to a given key over time

[2017-11-23 14:19] dragonwasrobot opened #78 "Alternative to deleting keys using an entity body?"
Judging from several discussions on SO (e.g. https://stackoverflow.com/questions/299628/is-an-entity-body-allowed-for-an-http-delete-request and https://stackoverflow.com/questions/14323716/restful-alternatives-to-delete-request-body),
and other Github repos (e.g. https://github.com/angular/angular.js/issues/3207)
it looks like HTTP DELETE doesn't have any well defined semantics for including an e

[2018-01-03 03:16] Starz0r opened #79 "Project Undockerization"
I'd like to be able to work on this project as stated here: https://github.com/anthonynsimon/parrot/issues/66
but the tight dockerization of this project makes it a high barrier of entry to use for people who are unfamiliar with Docker, or don't want to use Docker to try it out. Having a Docker Image for this project I think is a great goal (but the one on hub.docker.com) doesn't even work.

The b

[2018-01-03 03:18] Starz0r commented on #66
@anthonynsimon Decided to outline how to undockerize the project if you are still interested in working on this project :P https://github.com/anthonynsimon/parrot/issues/79

[2018-01-03 09:00] anthonynsimon commented on #66
@Starz0r Thanks a lot for taking your time to look into improving the project! I agree with the points you mention and will assign proper labels to try to gather some help on that.

Unfortunately I'm currently a bit tight due to my day work so I haven't been able to continue working on the project constantly, but will try to push it forward in the coming months. Once again, I really appreciate you

[2018-01-03 12:28] Starz0r commented on #66
@anthonynsimon Looking forward to it, would like to help push this project forward due to love my self hosted software.

[2018-01-10 21:23] anthonynsimon commented on #79
@Starz0r Hey sorry for taking a while, unfortunately there are not as many contributors to the project at the moment, but I was able to kick start the effort to 'undockerize' the project. See #80 for the changes implemented so far.

[2018-01-11 00:08] Starz0r commented on #79
@anthonynsimon Is there a way I can contact you directly? Doing it through Github is really slow. All the changes you made look fairly reasonable, and might it possible for me to work on it and test other changes.

[2018-01-12 10:31] anthonynsimon commented on #78
I will add it to the `v2` version of the API, thanks for the suggestion.

[2018-01-12 10:34] anthonynsimon commented on #73
Yes, the current API is a bit inconsistent / not very friendly. This behavior will not remain the same for the upcoming version :)

[2018-01-12 10:48] anthonynsimon commented on #79
@Starz0r I created a chat on gitter for the project :) https://gitter.im/parrot-translate

[2018-01-12 13:56] #19 closed

[2018-01-12 13:57] anthonynsimon commented on #41
#80 removes the migrations from the API binary, it will be handled by Alembic.

[2018-01-12 13:57] #41 closed

[2018-01-12 14:23] tboerger commented on #41
Ok, the decision is up to you... But seriously a python library for doing database migrations for a golang project? Sounds more than strange :D

[2018-01-12 15:13] anthonynsimon commented on #41
I can understand it seems strange :) This is more of an interim solution to get out the migrations from the binary, until a better solution comes.

Although it's not strictly a Go project, most likely it will undergo major restructuring before v1.0 in order to accommodate the missing features and help ease development.

[2018-01-12 15:46] tboerger commented on #41
But there are pretty good migration utils available for go and it's pretty common to embed things like that to keep deployments as easy as possible ;)

[2018-01-12 15:48] tboerger commented on #41
I like the idea of this project and I had interest to contribute but this gets a structure I'm personally not feeling comfortable with. Sadly I'm out :)

[2018-01-12 15:50] anthonynsimon commented on #41
No worries, thanks anyways for your suggestions!

[2018-01-12 16:59] #79 closed

[2018-01-21 13:37] #78 closed

[2018-01-21 16:04] #73 closed

[2018-01-21 16:07] anthonynsimon opened #83 "Normalise DB schema"
Several features would benefit from a normalised DB schema. For example the translation tagging feature or cascading updates/deletes to project keys. Most of this is currently handled in application code and it would be simplified if delegated to relational constraints.

[2018-02-11 14:40] ycrxun opened #88 "I just run build-all"
For bugs or unexpected behaviors please use the following template:

## Expected Behavior

build and started.

## Actual Behavior
[code]

## Steps to Reproduce the Problem

1.
[code]
2.
3.

For feature suggestions please use the following template:

## Feature Suggestion
Your description...

[2018-04-25 09:39] StanBoyet commented on #88
I have the same issue:

[code]

[2018-04-25 12:46] ycrxun commented on #88
@StanBoyet You need to `export GOPATH`, such as:
[code]

[2018-05-21 07:52] anthonynsimon commented on #88
This seems to be due to GOPATH not being set. You might want to add it to your shell profile. On the official Go docs you can find some more info on this: https://github.com/golang/go/wiki/SettingGOPATH

If it's ok with you guys, I'll be closing the issue. Feel free to open it again if it's still not a solution.

[2018-05-23 11:34] ycrxun commented on #88
@anthonynsimon   My issuse is that I can't clone the project to my GOPATH, and keep the path `$GOPATH/src/github.com/parrot-translate/parrot`.
So,I need to clone the project out of my GOPATH.

[2018-05-24 08:35] ycrxun commented on #88
[code]
Then,I tried read the build script, I found `rm -rf $GO_WORKSPACE && mkdir -p $GO_WORKSPACE` in the `build-api.sh`.

**So,I understand that I can't clone into `$GOPATH/src/github.com/parrot-translate/parrot`,because of the path will be deleted during the build process.**

[2018-05-24 21:59] anthonynsimon commented on #88
@ycrxun Thanks for the info! Yes I now see what you mean. Sorry for the inconvenience, at the moment the repo cannot be inside the GOPATH during build.

I will find a better solution, also with the recent announcement of [vgo](https://github.com/golang/go/issues/24301) for Go, it should make it easier to manage the workspaces, I will evaluate the options.

[2018-05-26 00:02] anthonynsimon commented on #88
@ycrxun I removed the code that copies the Go sources to the GOPATH before building. You should now be able to build the project.

[code]

[2018-05-26 11:55] ycrxun commented on #88
@anthonynsimon  It works as expected. :+1:

[2018-05-26 11:55] #88 closed

[2018-08-02 15:32] tboerger commented on #39
Closing issues for tools I'm not using anymore.

[2018-08-02 16:13] anthonynsimon commented on #39
@tboerger IMO the request to support other databases is still valid, will re-open in case someone takes this one up when looking around for issues :)

[2018-11-10 22:00] martincostello opened #91 "Confusing and incorrect documentation for patching pairs"
Reading the documentation for updating pairs for a locale ([link](https://anthonynsimon.gitbooks.io/parrot/content/locales.html): _Updating the locale's pairs_) and making a request as documented should successfully add a new pair.

However, the documentation is incorrect, as well as confusing.

The documentation seems to imply that adding a single key will either add it or update it as the method